@import "../../../../style/base/variables.scss";

.striped-bg {
    background-size: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    &__layer1 {   //the stripe layer
      background-image: repeating-linear-gradient(
        45deg,
        $primary-color1 0px,
        mix($primary-color2,$primary-color1,70%) 3px,
        $primary-color1 7px,
      );
    }
    &__layer2 {   //the gradient layer
      background-image: linear-gradient(
        $primary-color1  5%,
        rgba(black, 0) 50%,
        $primary-color2  95%
      );
    }
  }
  