#section--intro {
  min-height: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
    .inner-container {
      min-height: 250px;
    }
    #intro {
      position: relative;
      z-index: 30;
      display: flex;
      align-items: center;
    }
    h2 {
      text-align: center;
      font-style: italic;
      font-variant: petite-caps;
      min-width: min-content;
      color:$secondary-color1;
      font-size: 5em;
      text-shadow: 2px 2px 2px black;
    }
    h3 {
      border-left: 2px solid black;
      text-align: left;
      color: white;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #intro-section #intro {
      margin: 0;
      display: inline-block;
      h2,h3 {
        margin: 0;
        padding: 0;
      }
      h3{
        border-left: none;
        text-align: center;
      }
    }
  }
  