#projects-section {
  background: black;
  padding: 50px;
  .note {
    border-radius: 10px;
    margin: 20px;
    margin-top: 0;
    color:white;
    background: black;
    border: 1px solid gray;
    padding: 20px;
    box-shadow: 3px 3px 5px #0000003b;
  }
}
  .project {
    color:white;
    margin: 30px 0;
    &__header {

    }
    &__info {

    }
  }

