.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  &__item {
    flex-grow: 1;
  }
  &__link {
    text-decoration: none;
    transition-duration: 300ms;
    transition-property: background-color;
    background: black;
    color: white;
    padding: 10px;

    &:hover {
      background: blue;
    }
  }
}
